.bookwrap .book-card {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.books-released-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}

.bookwrap .book-card .img-container {
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;
}


.bookwrap .book-card .img-container img {
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;
}
.book-card {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.book-card .img-container {
 background-color: #333;
 width: 300px;
  height: 300px;
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;
}


.book-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.cart {
  padding: 6px 12px;
  background-color: black;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.book-card .cart:hover {
  background-color: #333;
  transform: scale(1.05);
}
.book-card .cart:active {
  transform: scale(0.95);
}
