.signup-container {
    width: 90%;
    margin: 0 0 0 auto;
} 
.signup-container .left-container {
    width: 50%;
    margin: 30px auto;
    padding: 10px 90px 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
     text-align: start;
    border-radius: 10px;
}
.signup-container .input-container label {
  text-transform: lowercase;
}
